
/*header*/
/*info*/
/*skills*/
/*procedure*/
/*team*/
/*review*/
/*footer*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

.title {
	margin: 0;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.container {
	width: 100%;
	max-width: 1220px;
	margin: 0 auto;
}


.button {
	display: inline-block;
	padding: 18px 30px;
	margin: 0;
	border-radius: 25px;
	background: #bc2e3a;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
}

.header__container {
	width: 100%;
	max-width: 1460px;
	margin: 0 auto;
}



/*header*/

.header {
	position: relative;
	background: url(../img/header/background.jpg) center center no-repeat;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 186px;
}

.header__top-section {
	align-items: center;
	margin-bottom: 570px;
	position: relative;
	z-index: 2;
}

.header__nav-menu {
	flex: 1 1 1190px;
}

.nav-menu {
	justify-content: flex-end;
}

.nav-menu__item {
	list-style: none;
}

.nav-menu__link {
	padding: 0 10px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
}

.header__links {
	margin-left: 45px;
}

.header__link {
	display: block;
}

.header__link_search {
	background: url(../img/social-icons/search.png) center 15% no-repeat;
	height: 30px;
	width: 35px;
	background-size: 66%;
}

.header__link_facebook {
	background: url(../img/social-icons/socials-sprite.png) -2% 120% no-repeat;
	height: 30px;
	width: 35px;
	margin-left: 25px;
}

.header__button {
	color: #242424;
	background: #fff;
	position: relative;
	top: 60px;
	left: 270px;
	z-index: 2;
}

.header__model {
	position: absolute;
	right: 0;
	top: 150px;
	width: 870px;
	height: 900px;
	background: url(../img/header/model-image.png) center center no-repeat;
	background-size: 100%;
	z-index: 1;
}

/*info*/

.info {
	background: #fff;
	position: relative;
	overflow: hidden;
}

.info::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-left: 550px solid transparent;
	border-right: 550px solid transparent;
	border-top: 600px solid #171717;
}

.info__about {
	padding: 100px 0;
	flex-basis: 510px;
	z-index: 1;
	position: relative;
}

.info__text {
	margin: 75px 0;
	max-width: 480px;
	width: 100%;
	display: block;
}

.info__button {
	position: relative;
	z-index: 1;
}

.info__picture {
	flex-basis: 720px;
	background: url(../img/info/macbook-pro.png) center center no-repeat;
	background-size: contain;
	position: relative;
}

/*skills*/

.skills {
	position: relative;
	padding: 95px 0 110px 0;
	background: #f5f5f5;
}

.skills::before {
	content: '';
	position: absolute;
	top: 30%;
	width: 0;
	height: 0;
	border-top: 160px solid transparent;
	border-left: 180px solid #bc2e3a;
	border-bottom: 160px solid transparent;
}

.skills__title {
	text-align: center;
	margin-bottom: 85px;
}

.skills__items {
	position: relative;
	z-index: 2;
	flex-wrap: wrap;
}

.skills__item:nth-child(1),
.skills__item:nth-child(2),
.skills__item:nth-child(3) {
	margin-bottom: 90px;
}

.skills__item {
	display: flex;
	flex: 1 1 400px;
}

.skills__icon {
	align-self: flex-start;
	display: block;
	width: 75px;
	height: 75px;
	flex-shrink: 0;
	border-radius: 50%;
	margin-right: 3%;
}

/*icons*/

.skills__icon_flag {
	background: #bc2e3a url(../img/skills/sprite.png) 0% 4%;
}

.skills__icon_display {
	background: #bc2e3a url(../img/skills/sprite.png) 48.7% 4%;
}

.skills__icon_stats {
	background: #bc2e3a url(../img/skills/sprite.png) 95% 4%;
}

.skills__icon_service {
	background: #bc2e3a url(../img/skills/sprite.png) 1% 95%;
}

.skills__icon_location {
	background: #bc2e3a url(../img/skills/sprite.png) 47.8% 95%;
}

.skills__icon_message {
	background: #bc2e3a url(../img/skills/sprite.png) 95.2% 95%;
}

.skills__about {
	flex-basis: 290px;
}


/*procedure*/

/*(how we works)*/

.procedure {
	position: relative;
	background: #fff;
	padding: 120px 0 205px 0;
}

.procedure::before {
	position: absolute;
	right: 0;
	top: -40%;
	content: '';
	width: 0;
	height: 0;
	border-top: 550px solid transparent;
	border-right: 600px solid #bc2e3a;
	border-bottom: 550px solid transparent;
	z-index: 1;
}

.procedure__title {
	position: relative;
	z-index: 1;
}

.procedure__elements {
	position: relative;
	z-index: 2;
}

.procedure__text-content {
	flex-basis: 300px;
}

.procedure__description {
	margin: 75px 0 45px 0;
}

.procedure__cards {
	position: relative;
	flex-basis: 1200px;
	left: 50px;
	justify-content: space-between;
}

.procedure__card {
	position: relative;
	flex-basis: 315px;
	overflow: hidden;
	transform: skew(-25deg);
}

.procedure__image {
	position: absolute;
	width: 200%;
	height: 200%;
	transform: skew(25deg);
}

.procedure__image::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: #000;
	opacity: .3;
}

.procedure__image_idea {
	background: url(../img/procedure/process.jpg) 120% 0% no-repeat;
}

.procedure__image_design {
	background: url(../img/procedure/workplace.jpg) 0% top no-repeat;
}

.procedure__image_output {
	background: url(../img/procedure/notes.jpg) 60% 0% no-repeat;
}

.procedure__card:not(last-child) {
	margin-right: 60px;
}


.procedure__card_text-content {
	position: absolute;
	width: 80%;
	left: 50px;
	bottom: -80px;
	color: #fff;
	transition: transform .8s ease;
}

.procedure__card-title {
	transform: skew(25deg);
}

.procedure__card-text {
	transform: skew(25deg);
}

.procedure__card:hover .procedure__card_text-content {
	transform: translateY(-90px);
}

/*team*/

.team {
	background: gray;
	position: relative;
	cursor: pointer;
	padding-top: 105px;
	background: #f5f5f5;
	z-index: 0;
}

.team::before {
	content: '';
	position: absolute;
	top: 30%;
	width: 0;
	height: 0;
	top: -26%;
	border-top: 200px solid transparent;
	border-left: 210px solid #171717;
	border-bottom: 200px solid transparent;
}

.team__title {
	text-align: center;
	position: relative;
	z-index: 1;
}

.team__slider {
	margin: 0 auto;
	display: block;
	text-align: center;
	max-width: 1040px;
}

.team__slide {
	display: block;
	padding-top: 125px;
	position: relative;
	padding-bottom: 105px;
}

.team__image {
	width: 330px;
	height: 330px;
	display: block;
	margin: 0 auto;
}

.team__name {
	display: inline-block;
	padding: 5px 40px;
	transform: skewX(45deg);
	background: #252525;
	color: #fff;
	position: absolute;
	bottom: 145px;
	left: 110px;
}

.team__name_text {
	display: block;
	transform: skewX(-45deg);
}

.team__role {
	display: inline-block;
	padding: 5px 30px;
	transform: skewX(45deg);
	background: #bc2e3a;
	color: #fff;
	position: absolute;
	bottom: 120px;
	left: 150px;
}

.team__role_text {
	display: block;
	transform: skewX(-45deg);
	font-style: italic;
}

.slick-current {
	transition: .4s;
	transform: translateY(-10px) scale(1.6);
	padding-bottom: 105px;
	z-index: 1;
}


.next,
.prev {
	border: none;
	background: transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.next {
	right: 30px;
	
}

.prev {
	left: 30px;
	
}

.prev-slide {
	width: 0;
	height: 0;
	border-top: 35px solid transparent;
	border-right: 35px solid #424240;
	border-bottom: 35px solid transparent;
}

.next-slide {
	width: 0;
	height: 0;
	border-top: 35px solid transparent;
	border-left: 35px solid #424240;
	border-bottom: 35px solid transparent;
}


/*review*/

.review {
	padding-top: 105px;
	background: #fff;
	position: relative;
}

.review::before {
	position: absolute;
	left: 0;
	top: -20%;
	content: '';
	width: 0;
	height: 0;
	border-top: 450px solid transparent;
	border-left: 500px solid #bc2e3a;
	border-bottom: 450px solid transparent;
	z-index: 1;
}

.review::after {
	position: absolute;
	right: 0;
	top: 0;
	content: '';
	width: 0;
	height: 0;
	border-top: 250px solid #171717; 
	border-left: 250px solid transparent;
}

.review__content {
	align-items: center;
	justify-content: space-between;
}

.review__title {
	position: relative;
	z-index: 1;
}

.review__image {
	flex-basis: 410px;
	position: relative;
	z-index: 1;
}

.review__feedback {
	position: relative;
	flex: 1 1 760px;
	padding-left: 95px;
	z-index: 1;
}

.review__feedback::before {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	background: url(../img/review/cite-icon.png) center center no-repeat;
	width: 82px;
	height: 62px;
	background-size: 100%;
}

.review__quote {}

.review__author {
	margin: 45px 0 55px 0;
}

.review__avatars {}

.review__avatar {
	display: inline-block;
}

/*footer*/

.footer {
	position: relative;
	padding: 85px 0 50px 0;
	background: url(../img/footer/footer-bg.jpg) center center no-repeat;
	background-size: cover;
	color: #fff;
	z-index: 0;
}

.footer__title {
	text-align: center;
}

.footer::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-bottom: 200px solid #bc2e3a;
}

.footer__contacts {
	align-items: center;
	justify-content: space-between;
}

.footer__contact {
	position: relative;
	flex-basis: 315px;
	padding-left: 85px;
	z-index: 2;
}

.footer__contact::before {
	content: '';
	position: absolute;
	left: 10px;
	top: 35px;
	background-size: 1850%;
	width: 60px;
	height: 45px;
}

.footer__contact_email::before {
	background: url(../img/skills/sprite.png) 94% 90%;
}

.footer__contact_phone::before {
	background: url(../img/social-icons/phone.png) center center no-repeat;
	background-size: 50%;
	opacity: .8;
}

.footer__contact_location::before  {
	background: url(../img/skills/sprite.png) 47% 89%;
}

.contact__title {
	margin-bottom: 13px;
}

.contact__text {
	margin: 5px 0;
}

.footer__socials {
	margin-top: 95px;
	position: relative;
	z-index: 1;
}

.footer__links {
	position: relative;
	margin-bottom: 50px;
	justify-content: center;
	align-items: center;
}

.footer__links::after {
	content: '';
	bottom: -25px;
	position: absolute;
	max-width: 740px;
	width: 100%;
	border-top: 1px solid #707070;
	opacity: .9;
}

.footer__social-link {
	flex-shrink: 0;
	display: block;
	width: 35px;
	height: 30px;
	margin: 0 20px;
	background: url(../img/social-icons/socials-sprite.png) no-repeat;
	background-size: 1200%;
}

.footer__social-link_facebook {
	background-position: -2% center;
	
}

.footer__social-link_google-plus {
	background-position: 16% center;
}

.footer__social-link_vk {
	background-position: 33% center;
}

.footer__social-link_youtube {
	background-position: 49.5% center;
}

.footer__social-link_linkedin {
	background-position: 66.5% center;
}

.footer__social-link_digg {
	background-position: 83.5% center;
}

.footer__social-link_unnamed-icon {
	background-position: 100% center;
}

.footer__copyright {
	text-align: center;
}

/*
font-family: 'Lato', sans-serif;
font-family: 'Lemon', cursive;
font-family: 'Open Sans', sans-serif;
*/